{% load staticfiles %}
{% load crispy_forms_tags %}
{% include 'head_css.html' %}
{% include 'navbar.html' %}
{% include "javascript.html" %}

<style>
{% block style %}
.navbar-static-top{
    margin-bottom: 0px !important;
}
 .jumbotron {
    background-color:#0C0547;
    color: #FFF;   
 }

{% endblock %}

</style>

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class = "col-sm-8">
        <form action="{% url 'polls:settings' %}" method="post">
        {% csrf_token %}       
        <div id="menu" class="collapse">
          <div class="btn-group-vertical" style = "margin: 20px;">
            <button type="submit" class="btn btn-primary" name = "opt" value = "All">All questions</button>
            <button type="submit" class="btn btn-primary" name = "opt" value = "My">My questions</button>
          </div>
          <div class="btn-group-vertical" style = "margin: 20px;">
            <button type="submit" class="btn btn-primary" name = "opt" value = "Local">Local</button>
            <button type="submit" class="btn btn-primary" name = "opt" value = "Global">Global</button>
          </div>
          <div class="btn-group-vertical" style = "margin: 20px;">
            <button type="submit" class="btn btn-primary" name = "opt" value = "Recent">Recent</button>
            <button type="submit" class="btn btn-primary" name = "opt" value = "Popular">Popular</button>
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="row">  
      <div class='col-sm-6'>            
      <p>QSource <i class="fa fa-question-circle fa-3x"></i></p>  <!-- Question icon -->        
      <a href="{% url 'polls:question' %}"><h2 style="color:red">Ask a Question</h2></a>
      <!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> -->
      <!--replaced by: -->
      <link rel="stylesheet" type="text/css" href="{% static 'QSource/custom.css' %}" />
      
      {% if latest_question_list %}
          <ul>
      {% for question in latest_question_list %}            
          <!--<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> -->
          <!--replaced by: -->
          <li><p><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></p></li>            
      {% endfor %}
          </ul>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}
      </div>        
    </div>
  </div>
</div>

{% endblock %}
