{% load staticfiles %}
{% load crispy_forms_tags %}
{% include 'head_css.html' %}
{% include 'navbar.html' %}
{% include "javascript.html" %}

<!-- Style specifications to make page design cohesive -->
<style>
{% block style %}
.navbar-static-top{
    margin-bottom: 0px !important;
}
 .jumbotron {
    background-color:#0C0547;
    color: #FFF;   
 }

{% endblock %}

</style>

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <!-- Menu bar: a collapsible row on the Boorstrap grid -->
    <div class="row">
      <div class = "col-sm-8">
        <form action="{% url 'polls:settings' %}" method="post">
        <!-- Security feature prevents calls from outside sources -->
        {% csrf_token %}       
        <div id="menu" class="collapse">
          <!-- Toggle buttons between My Questions and All Questions -->
          <div class="btn-group-vertical" data-toggle="buttons" style = "margin: 20px;">
            <!-- if statements activate buttons according to different settings -->
            {% if not user_my %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt1" id = 1 value = "All" >All questions</label>
            {% if user_my %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt1" id = 2 value = "My">My questions</label>
          </div>
          <!-- Toggle buttons between Local and Global -->
          <div class="btn-group-vertical" data-toggle="buttons" style = "margin: 20px;">
            {% if user_local %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt2" value = "Local">Local</label>
            {% if not user_local %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt2" value = "Global">Global</label>
          </div>
          <!-- Toggle buttons between Recent and Popular -->
          <div class="btn-group-vertical" data-toggle="buttons" style = "margin: 20px;">
            {% if user_recent %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt3" value = "Recent">Recent</label>
            {% if not user_recent %}
            <label class="btn btn-primary active active">
            {% else %}
            <label class="btn btn-primary">
            {% endif %}
            <input type="radio" name = "opt3" value = "Popular">Popular</label>
          </div>
          <div><button type = "submit" class = "btn btn-info" style = "margin-left: 20px;">Apply</button></div>
        </div>
        </form>
      </div>
    </div>
    <div class="row">  
      <div class='col-md-2'></div> 
      <div class='col-md-8'>                 
      <a href="{% url 'polls:question' %}"><h2 style="color:red">Ask a Question</h2></a>
      <link rel="stylesheet" type="text/css" href="{% static 'QSource/custom.css' %}" />
      
      <!-- Display list of questions -->
      {% if latest_question_list %}
          <ul>
      {% for question in latest_question_list %}   
            <!-- Format questions in centered panels -->
            <div class="panel panel-info">
              <div class="panel-heading">
                <p><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a></p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'polls:vote' question.id %}" method="post">
                
                {% csrf_token %}    
                <!-- A click on either choice should submit a request -->
                <button type="submit" class="btn btn-info" name="ans" value=0 >{{ question.ans1_text }}</button>
                <button type="submit" class="btn btn-info" name="ans" value=1 >{{ question.ans2_text }}</button>
                </p>
                 
                </form>      
              </div>
            </div>
      {% endfor %}
          </ul>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}
      </div>        
    </div>
  </div>
</div>

{% endblock %}
