{% extends "base.html" %}
<!--keep loads at the top -->
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<!--text-align: center; will center Sign Up-->
<style>
{% block style %}
.navbar-static-top{
    margin-bottom: 0px !important;
}
 .jumbotron {
    background-color:#0C0547;
    color: #FFF;
 }

{% endblock %}   
</style>

</div>

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
    <div class="row">
        <div class='col-sm-6'>
        <h1>Welcome!</h1>
        <!-- Main component for a primary marketing message or call to action -->
        <!--class='lead text-align-center' will center paragraph -->
        <p class='lead'>QSource is a social media website that allows people to express their
        opinions and pose questions to their community through a current, local
        feed of two choice questions. Users answer questions to see the poll results.
        Answering questions also earns the user points which can be spent to ask new questions.
        Questions and answers are anonymous. </p>
        <!--<i class="fa fa-question-circle"></i> --> <!-- Question icon -->
        <p>
        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo</a>
        </p>
        </div>
        <!--this black rectangle is for adding video 
        <div class='col-sm-6' style="background-color:black;height:300px;">
            
        </div> -->
        </div>
    </div>
 </div>
{% endblock %}

      
{% block content %}
<div class="row">
    
    <div class="col-sm-1 pull-right">
 <p> </p>  <!--add text here --> 
</div>

   
    
     <div class='col-sm-3'>
 <p></p>  <!--add text here -->
</div>
     <div class='col-sm-3'>
 <p>Created with Django &amp; Bootstrap</p>   
</div>
</div>
    

{% endblock %}